* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

:root {
  --main-color: #ec5242;
}

/* ***************** */

/* **** NAVBAR ***** */

/* ***************** */
.header-nav {
  display: none;
}

.icon {
  display: none;
  height: 6.4rem;
}

.container {
  padding: 2.5rem;
}

.navbar {
  background-color: #e9ecef;
}

.mobile-menu-icon {
  width: 2rem;
}

.close-icon {
  width: 3.2rem;
  z-index: 99999;
  left: 1.8rem;
  top: 1.8rem;
}

.nav-list {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #e9ecef;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.nav-list ul {
  display: flex;
}

.nav-item {
  list-style: none;
  text-align: center;
}

.active a {
  color: var(--main-color) !important;
}

.nav-item a:link,
.nav-item a:visited {
  color: #495057;
  font-size: 2.8rem;
  font-weight: 700;
  text-decoration: none;
}

.hidden {
  display: none;
}

/* ***************** */

/* **** HEADLINE ***** */

/* ***************** */

.headline {
  background: url(images/mobile-bg.png);
  background-size: cover;
  background-position: 0 -3rem;
  padding: 4.8rem 2.5rem 2.5rem 2.5rem;
  z-index: 99;
}

.headline-text {
  color: var(--main-color);
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.primary-header {
  color: #d85c4f;
  font-weight: 900;
  font-size: 3.2rem;
  margin-bottom: 1.4rem;
  background: url(images/tools-for-motivation-KvTOwKoji7g-unsplash.jpg);
  background-position: 4rem 4rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headline-desc {
  font-size: 1.2rem;
  padding: 1rem;
  background-color: #f6f6f6;
  outline: 0.3rem solid #fff;
  margin-bottom: 1.4rem;
  line-height: 1.5;
}

.headline-date {
  font-size: 2.4rem;
  color: #495057;
}

.headline-address {
  font-size: 1.4rem;
  color: #868e96;
}

/* ***************** */

/* **** FEATURE ***** */

/* ***************** */
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #272930;
  background-image: url(images/pattern_bg.png);
  padding: 1.8rem 1.4rem;
  margin-bottom: 4.8rem;
}

.feature-main-title {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  position: relative;
  margin-bottom: 2.4rem;
}

.feature-main-title::after {
  content: '';
  height: 0.1rem;
  width: 3.2rem;
  background-color: var(--main-color);
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feature-boxes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feature-box {
  background-color: rgba(206, 212, 218, 0.1);
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.feature-logo {
  width: 4.8rem;
}

.feature-title {
  color: var(--main-color);
  font-size: 1.2rem;
  font-weight: 400;
  width: 20%;
}

.feature-desc {
  color: #fff;
  font-size: 1.2rem;
  justify-self: end;
  width: 60%;
}

.feature-btn1 {
  padding: 2rem;
  color: #fff;
  background-color: var(--main-color);
  border: none;
  margin: 1.8rem 0;
  cursor: pointer;
}

.feature-btn1:hover {
  background-color: #a5392e;
}

.feature-btn2 {
  display: none;
}

/* ***************** */

/* **** SPEAKER ***** */

/* ***************** */
.speaker {
  padding: 1.8rem 1.4rem;
}

.speaker-title {
  color: #000;
  font-size: 2.4rem;
  font-weight: 400;
  position: relative;
  margin-bottom: 3.2rem;
  text-align: center;
}

.speaker-title::after {
  content: '';
  height: 0.1rem;
  width: 3.2rem;
  background-color: var(--main-color);
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.speaker-box {
  display: flex;
  gap: 1.8rem;
  margin-bottom: 1.8rem;
}

.speaker-img {
  width: 11rem;
}

.speaker-details {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.speaker-name {
  font-size: 1.8rem;
}

.speaker-position {
  font-size: 1.2rem;
  color: var(--main-color);
  position: relative;
  margin-bottom: 1rem;
  font-style: italic;
}

.speaker-position::after {
  content: '';
  height: 0.1rem;
  width: 2rem;
  background-color: #868e96;
  position: absolute;
  bottom: -1rem;
  left: 0;
}

.speaker-desc {
  line-height: 1.5;
}

/* ***************** */

/* **** PARTNERS ***** */

/* ***************** */

.partner {
  background-color: #495057;
  padding: 3.2rem;
  display: none;
}

.partner-title {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 400;
  position: relative;
  margin-bottom: 3.2rem;
  text-align: center;
}

.partner-title::after {
  content: '';
  height: 0.1rem;
  width: 3.2rem;
  background-color: var(--main-color);
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.partners {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.partners img {
  height: 4rem;
  padding: 0.5rem;
  filter: brightness(0);
  opacity: 50%;
}

/* ***************** */

/* **** FOOTER ***** */

/* ***************** */
.footer {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
}

.footer img {
  height: 2.4rem;
}

.footer-desc p {
  display: none;
}

/* ******************************/

/* **** BIG SCREEN SIZES ***** */

/* *************************** */
@media screen and (min-width: 768px) {
  /* HEADER NAVBAR  */
  .header-nav {
    background-color: #444;
    display: flex;
    justify-content: flex-end;
    gap: 2.4rem;
    padding: 1.2rem 20% 1.2rem 0;
    list-style: none;
  }

  .header-nav li a {
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
  }

  /* NAVBAR SECTION  */
  .mobile-menu-icon {
    display: none;
  }

  .icon {
    display: inline-block;
  }

  .container {
    height: 8.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }

  .nav-item:last-child {
    border: 4px solid #f00;
    padding: 1rem;
  }

  .nav-list {
    background-color: #fff;
    height: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
  }

  .nav-item a:link,
  .nav-item a:visited {
    font-size: 2rem;
  }

  .nav-item a:hover,
  .nav-item a:active {
    color: var(--main-color);
  }

  /* HEADLINE SECTION  */
  .headline {
    padding: 8.8rem 20rem;
    background: url(images/mobile-bg.png);
  }

  .primary-header {
    width: 70%;
    font-size: 6.4rem;
    font-weight: 900;
  }

  .headline-text {
    font-size: 4.8rem;
  }

  .headline-desc {
    margin-bottom: 4.8rem;
    font-size: 1.8rem;
    width: 50%;
  }

  .headline-date {
    font-size: 4rem;
  }

  .headline-address {
    margin-bottom: 3.2rem;
    font-size: 2.4rem;
  }

  /* FEATURE SECTION  */
  .feature {
    padding: 6.4rem 15%;
  }

  .feature-boxes {
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 3rem;
  }

  .feature-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.2rem 1.2rem;
  }

  .feature-box:hover {
    outline: 2px solid #fff;
  }

  .feature-title {
    font-size: 2rem;
    width: auto;
  }

  .feature-desc {
    width: 100%;
    font-size: 1.8rem;
  }

  .feature-btn1 {
    display: none;
  }

  .feature-btn2 {
    color: #fff;
    display: block;
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
  }

  /* SPEAKER  */
  .speakers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem;
    padding: 8.8rem 10%;
  }

  .speaker-img {
    height: 15rem;
    width: auto;
  }

  .speaker-name {
    font-size: 2.4rem;
  }

  .speaker-position {
    font-size: 1.8rem;
  }

  .speaker-desc {
    font-size: 1.6rem;
  }

  /* PARTNER  */
  .partner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .partners {
    justify-content: center;
    gap: 4.8rem;
  }

  /* FOOTER  */
  .footer {
    align-items: center;
    justify-content: center;
    gap: 4.8rem;
    padding: 4rem 10%;
  }

  .footer-desc {
    font-size: 1.4rem;
  }

  .footer-desc p {
    display: block;
  }

  .footer img {
    height: 6.4rem;
  }
}
